// FONTS 
$font-color-light: #fff;
$font-color-dark: #64110A;
$color-black: #000;
$color-white: #fff;

$border-color-light: #fff;
$border-color-dark: #64110A;

$bg-color-brown: #64110A;
$bg-color-tan: #d9b377;
$bg-color-red: #f65a54;
$bg-color-olive: #c0ba35;
$bg-color-orange: #f0a022;

$bg-color-yellow: #fed649;
$bg-color-blue: #60d0d5;
$bg-color-light-blue: #d9edf7;
$bg-color-dark-blue: #04023b;

h1, h2, h3, h4, h5, p, a {
	color: $color-white;
}

h1, h2, h3 {
	font-family: 'Playfair Display', serif;
	font-weight: 700;
}

h2 {
	margin-top: 0;
}

body {
	background-color: $color-black;
}




// MIXINS
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}





// CONTAINER
.logo-border-light {
	@include border-radius(50%);
	border: solid $border-color-light;
}

.logo-border-dark {
	@include border-radius(50%);
	border: solid $border-color-dark;
}

.section-container {
	padding-top: 80px;
	padding-bottom: 80px;
	text-align: center;
	// background: url(/media/broken-noise.png);
	background-color: $bg-color-tan;
}


.skew-right {
	transform: skewY(-3deg);
	transform-origin: 100% 0;
}

.anti-skew-right {
	transform: skewY(3deg);
	transform-origin: 100% 0;
}

.skew-left {
	transform: skewY(3deg);
	transform-origin: 100% 0;
}

.anti-skew-left {
	transform: skewY(-3deg);
	transform-origin: 100% 0;
}




