// FONTS 
body {
	background-color: #000;
	position: relative;
}

$font-color-light: #fff;
$font-color-dark: #64110A;
$font-color-light-orange: #fad4b8;
$font-color-blue: #1bccf7;
$font-color-green: #57dbd1;

$border-color-light: #fff;
$border-color-dark: #64110A;

$bg-color-brown: #64110A;
$bg-color-tan: #d9b377;
$bg-color-red: #f65a54;
$bg-color-olive: #c0ba35;
$bg-color-orange: #f0a022;

$bg-color-yellow: #fed649;
$bg-color-blue: #60d0d5;
$bg-color-light-blue: #d9edf7;
$bg-color-dark-blue: #04023b;
$bg-color-dark-gray: #666666;

h1, h2, h3, h4, h5, p, a {
	color: #fff;
}

h1, h2, .mobilenav li a {
	font-family: 'Orbitron', sans-serif;
}

h3, h4, h5 {
	font-family: 'Playfair Display', serif;
}

h1, h2 {
	font-weight: 700;
	font-size: 40px;
}

h2 {
	margin-top: 0;
	margin-bottom: 20px;
}

h3 {
	font-size: 20px;
}

h3, h4, h5 {
	font-weight: 400;
}

.mobilenav li a {
	color: #fff;
}

p {
	font-family: 'Playfair Display', serif;
	margin-bottom: 30px;
	font-size: 18px;
}





// MIXINS
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}





// CONTAINER
//Bootstrap padding override
.col-sm-12 {
	padding-left: 25px;
	padding-right: 25px;
}

.logo-border-light {
	@include border-radius(50%);
	border: solid 3px $border-color-light;
}

.logo-border-dark {
	@include border-radius(50%);
	border: solid 3px $border-color-dark;
}

.section-container {
	padding-top: 80px;
	padding-bottom: 20px;
	text-align: center;
	background-color: #000;
}

.skew-right {
	transform: skewY(-3deg);
	transform-origin: 100% 0;
}

.anti-skew-right {
	transform: skewY(3deg) !important;
	transform-origin: 100% 0 !important;
}

.skew-left {
	transform: skewY(3deg);
	transform-origin: 100% 0;
}

.anti-skew-left {
	transform: skewY(-3deg);
	transform-origin: 100% 0;
}




// SCROLL DOWN ARROW 
.btn-circle {
	display: none;
	position: absolute;
    top: 86vh;
    width: 100%;
    transform: translateY(-50%);
    padding: 0;
    margin: 0;
    font-size: 65px;
    color: rgba(255,255,255, 1);
    background: 0 0;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
    &:hover {
    	cursor: default;
    	color: rgba(255,255,255,.9);
    }
}

@media (min-width: 1024px) {
	.btn-circle {
		display: block;
	}
}

.btn:active {
	box-shadow: none;
}

.btn-circle i.animated {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;    
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
}


@-webkit-keyframes pulse {    
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-moz-keyframes pulse {    
    0% {
        -moz-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -moz-transform: scale(1.1);
        transform: scale(1.1);
    }

    100% {
        -moz-transform: scale(1);
        transform: scale(1);
    }
}


