.home-bg {
	position: relative;
    background: url(/media/bg.jpg) no-repeat;
    height: 110vh;
    background-position: center top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    //remove top margin
    margin-top: -55px;
    .hero {
    	position: absolute;
		bottom: 13%;
		text-align: center;	
		h1 {
			font-size: 70px;
			padding-bottom: 50px;
		}
		.logo-hero {
			width: 200px;
			height: 200px;
			@extend .logo-border-light;
		}
	}
    .lower-hero {
   		h3{
			font-size: 40px;
		}
	}
}

// @media screen and (max-device-width: 736px) {
// }









// NAV 
.logo-nav {
	width: 150px;
	height: 150px;
	@extend .logo-border-light;
}





// ABOUT 
#about {
	z-index: -1;
}

#about.section-container {
	background: url(/media/broken-noise.png) repeat;
	background-color: #08266a;
}





// GALLERY
#gallery.section-container {
	padding-top: 80px;
	z-index: 3;
	background: url(/media/bg-noise.png) repeat;
	background-color: #000;
	h2 {
		padding-bottom: 20px;
	}
}




// CONTACT 
#contact.section-container {
 	background: url(/media/bg-noise.png) repeat;
	background-color: #90c2a7;
	z-index: 2;
}

.social-container {
	padding-top: 25px;
	ul {
		padding-left: 0;
	}
	li {
		display: inline-block;
		list-style: none;
		padding: 0 3px;
	}
	a, p {
		color: $color-white;
	}
}



.logo {
	width: 80px;
	height: 80px;
	@extend .logo-border-light;
}





// MAP 
#map {
    width: 100%;
    height: 400px;
}

@media(max-width: 768px) {
    #map {
        height: 250px;
        margin-top: 0;
    }
}





// FOOTER

footer {
	background: url(/media/broken-noise.png) repeat;
	background-color: $color-black;
}

footer.footer-container {
	padding-top: 125px;
	padding-bottom: 40px;
	margin-top: -75px;
	z-index: -1;
	text-align: center;
}



