.video-wrapper {
	position: relative;
    height: 100vh;
}

video#bgvid { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -10;
	@include translate(-50%);
    background: url(/media/bg-vid-img.png) no-repeat;
    background-size: cover; 
}
@media screen and (max-device-width: 800px) {
    html {
         background: url(/media/bg-vid-img.png) #000 no-repeat center center fixed;
    }
    #bgvid {
        display: none;
    }
}

.hero {
	color: $font-color-light;
	text-align: center;
	padding-top: 70vh;	
}