body {
  background-color: #000;
  position: relative; }

h1, h2, h3, h4, h5, p, a {
  color: #fff; }

h1, h2, .mobilenav li a {
  font-family: 'Orbitron', sans-serif; }

h3, h4, h5 {
  font-family: 'Playfair Display', serif; }

h1, h2 {
  font-weight: 700;
  font-size: 40px; }

h2 {
  margin-top: 0;
  margin-bottom: 20px; }

h3 {
  font-size: 20px; }

h3, h4, h5 {
  font-weight: 400; }

.mobilenav li a {
  color: #fff; }

p {
  font-family: 'Playfair Display', serif;
  margin-bottom: 30px;
  font-size: 18px; }

.col-sm-12 {
  padding-left: 25px;
  padding-right: 25px; }

.logo-border-light, .hero .logo-hero, .logo {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  border: solid 3px #fff; }

.logo-border-dark {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  border: solid 3px #64110A; }

.section-container {
  padding-top: 80px;
  padding-bottom: 20px;
  text-align: center;
  background-color: #000; }

.skew-right {
  transform: skewY(-3deg);
  transform-origin: 100% 0; }

.anti-skew-right {
  transform: skewY(3deg) !important;
  transform-origin: 100% 0 !important; }

.skew-left {
  transform: skewY(3deg);
  transform-origin: 100% 0; }

.anti-skew-left {
  transform: skewY(-3deg);
  transform-origin: 100% 0; }

.btn-circle {
  display: none;
  position: absolute;
  top: 86vh;
  width: 100%;
  transform: translateY(-50%);
  padding: 0;
  margin: 0;
  font-size: 65px;
  color: white;
  background: 0 0;
  -webkit-transition: background .3s ease-in-out;
  -moz-transition: background .3s ease-in-out;
  transition: background .3s ease-in-out; }
  .btn-circle:hover {
    cursor: default;
    color: rgba(255, 255, 255, 0.9); }

@media (min-width: 1024px) {
  .btn-circle {
    display: block; } }
.btn:active {
  box-shadow: none; }

.btn-circle i.animated {
  -webkit-transition-property: -webkit-transform;
  -webkit-transition-duration: 1s;
  -moz-transition-property: -moz-transform;
  -moz-transition-duration: 1s;
  -webkit-animation-name: pulse;
  -moz-animation-name: pulse;
  -webkit-animation-duration: 1.5s;
  -moz-animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear; }

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  50% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }
@-moz-keyframes pulse {
  0% {
    -moz-transform: scale(1);
    transform: scale(1); }
  50% {
    -moz-transform: scale(1.1);
    transform: scale(1.1); }
  100% {
    -moz-transform: scale(1);
    transform: scale(1); } }
.home-bg {
  position: relative;
  background: url(/media/bg.jpg) no-repeat;
  height: 120vh;
  background-position: center top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  margin-top: -55px;
  border-bottom: solid 3px #bebebe; }

.hero {
  position: absolute;
  top: 59vh;
  transform: translateX(-50%);
  width: 100%;
  text-align: center; }
  .hero h1 {
    text-shadow: 1px 1px 12px #000; }
  .hero h3 {
    margin-top: 0;
    text-shadow: 1px 1px 3px #000; }
  .hero .logo-hero {
    width: 100px;
    height: 100px;
    box-shadow: 0px 0px 2px #000; }

@media (min-width: 568px) {
  .hero {
    top: 45vh; } }
@media (min-width: 768px) {
  .hero {
    top: 71vh; }
    .hero h1 {
      font-size: 60px;
      margin-bottom: 0; }
    .hero h3 {
      font-size: 27px;
      margin-top: 0; } }
@media (min-width: 1024px) {
  .hero {
    top: 54vh; } }
.logo-nav {
  width: 100px;
  height: 100px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  border: 3px solid #D8FFD0; }

@media (min-width: 768px) {
  .logo-nav {
    width: 125px;
    height: 125px; } }
#about {
  z-index: -1; }
  #about h2 {
    color: #fffed0; }

#about.section-container {
  background: url(/media/broken-noise.png) repeat;
  background-color: #000;
  padding-top: 100px; }

#gallery h2 {
  color: #99ffd3; }

#gallery.section-container {
  z-index: 3;
  background: url(/media/broken-noise.png) repeat;
  background-color: #000; }

#contact h2 {
  color: #6e87e1; }

#contact.section-container {
  background: url(/media/broken-noise.png) repeat;
  background-color: #000;
  z-index: 2;
  border-bottom: solid 3px #bebebe;
  padding-bottom: 0;
  z-index: -99; }

.contact-info-container {
  padding-bottom: 40px;
  border-bottom: 3px solid #bebebe;
  box-shadow: 0px 15px 20px -9px #5d5d5d; }
  .contact-info-container h3 {
    padding: 0;
    font-family: 'Orbitron', sans-serif;
    margin-bottom: 0; }
  .contact-info-container p {
    padding: 0;
    margin-bottom: 0; }
  .contact-info-container .address {
    font-size: 15px; }

#contact.section-container.col-sm-12 {
  padding-left: 0;
  padding-right: 0; }

.logo {
  width: 80px;
  height: 80px; }

#map {
  width: 100%;
  height: 350px;
  z-index: -3;
  margin-top: 0; }

.footer {
  padding-bottom: 140px;
  padding-bottom: -150px;
  position: relative;
  text-align: center;
  margin-top: -75px;
  background-color: #000;
  border-top: solid 3px #bebebe;
  box-shadow: 0px -15px 20px -14px #5D5D5D; }
  .footer p, .footer h5 {
    color: #bebebe;
    font-family: 'Orbitron', sans-serif; }

.footer.section-container {
  padding-bottom: 0; }

.logo-footer {
  width: 75px;
  height: 75px;
  border: solid 3px #bebebe; }

.social-container {
  padding-top: 25px; }
  .social-container ul {
    padding-left: 0; }
  .social-container li {
    display: inline-block;
    list-style: none;
    padding: 0 5px; }
  .social-container .fa-facebook-square {
    transition: color .6s ease;
    color: #fe374d; }
    .social-container .fa-facebook-square:hover {
      color: #EFC4C6; }
  .social-container .fa-twitter-square {
    transition: color .6s ease;
    color: #00c8ff; }
    .social-container .fa-twitter-square:hover {
      color: #93FFFE; }
  .social-container .fa-youtube-square {
    transition: color .6s ease;
    color: #FF1EB7; }
    .social-container .fa-youtube-square:hover {
      color: #E5BAFF; }
  .social-container .fa-instagram {
    transition: color .6s ease;
    color: #68ffda; }
    .social-container .fa-instagram:hover {
      color: #D8FFD0; }

.badge-cw {
  font-size: 12px;
  color: #fff; }

.badge-cw--a, .one-mic-tv {
  color: #93FFFE;
  transition: color .6s ease; }
  .badge-cw--a:hover, .one-mic-tv:hover {
    color: #D8FFD0;
    text-decoration: none; }

* {
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent;
  /* For some Androids */ }

.top-animate {
  background: #D8FFD0 !important;
  top: 13px !important;
  -webkit-transform: rotate(45deg);
  /* Chrome, Safari, Opera */
  transform: rotate(45deg); }

.mid-animate {
  opacity: 0; }

.bottom-animate {
  background: #D8FFD0 !important;
  top: 13px !important;
  -webkit-transform: rotate(-225deg);
  /* Chrome, Safari, Opera */
  transform: rotate(-225deg); }

.top-menu {
  top: 5px;
  width: 25px;
  height: 3px;
  border-radius: 0;
  background-color: #fff; }

.mid-menu {
  top: 13px;
  width: 25px;
  height: 3px;
  border-radius: 0;
  background-color: #fff; }

.bottom-menu {
  top: 21px;
  width: 25px;
  height: 3px;
  border-radius: 0;
  background-color: #fff; }

@media (min-width: 768px) {
  .top-menu {
    top: 8px;
    width: 40px;
    height: 5px; }

  .mid-menu {
    top: 20px;
    width: 40px;
    height: 5px; }

  .bottom-menu {
    top: 32px;
    width: 40px;
    height: 5px; } }
.menui {
  background: #fff;
  transition: 0.5s ease;
  transition-timing-function: cubic-bezier(0.75, 0, 0.29, 1.01);
  margin-top: 10px;
  position: absolute; }

.ham-icon {
  z-index: 999;
  position: fixed;
  display: block;
  padding: 25px;
  height: 32px;
  width: 32px;
  margin: 0px;
  top: 10px;
  right: 25px; }

@media (min-width: 768px) {
  .ham-icon {
    top: 15px;
    right: 45px;
    height: 55px;
    width: 55px; } }
@media screen and (min-device-width: 769px) {
  .ham-icon {
    display: none; } }
.mobilenav {
  font-family: inherit;
  top: 0;
  left: 0;
  z-index: 999;
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(28, 28, 28, 0.9);
  opacity: 1; }

.mobilenav li {
  width: 100%;
  list-style-type: none;
  text-align: center;
  padding: 13px; }

.mobilenav li a {
  color: #D8FFD0;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  width: 100%;
  font-size: 20px;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s; }
  .mobilenav li a:hover, .mobilenav li a:active {
    color: #fff; }

.mobilenav li:first-child {
  margin-top: 15px; }

.mobile-nav--inner-wrap {
  position: absolute;
  top: 2%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%; }

@media (min-width: 568px) {
  .mobile-nav--inner-wrap {
    top: -7%; } }
@media (min-width: 736px) {
  .mobile-nav--inner-wrap {
    top: 1%; }

  .mobilenav li a {
    font-size: 25px; } }
@media (min-width: 768px) {
  .mobile-nav--inner-wrap {
    top: 7%; }

  .mobilenav li {
    padding: 13px; }
    .mobilenav li:first-of-type {
      margin-top: 70px;
      margin-bottom: 20px; } }
@media (min-width: 568px) {
  .mobilenav li:first-of-type {
    margin-top: 40px; } }

/*# sourceMappingURL=main.css.map */
