h1, h2, h3, h4, h5, p, a {
  color: #fff; }

h1, h2, h3 {
  font-family: 'Playfair Display', serif;
  font-weight: 700; }

h2 {
  margin-top: 0; }

body {
  background-color: #000; }

.logo-border-light, .hero .logo-hero, .logo {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  border: solid #fff; }

.logo-border-dark, .logo-nav {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  border: solid #64110A; }

.section-container {
  padding-top: 50px;
  padding-bottom: 80px;
  text-align: center;
  background-color: #d9b377; }

.skew-right {
  transform: skewY(-3deg);
  transform-origin: 100% 0; }

.anti-skew-right {
  transform: skewY(3deg);
  transform-origin: 100% 0; }

.skew-left {
  transform: skewY(3deg);
  transform-origin: 100% 0; }

.anti-skew-left {
  transform: skewY(-3deg);
  transform-origin: 100% 0; }

.video-wrapper {
  position: relative;
  height: 100vh; }

video#bgvid {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -10;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: url(/media/bg-vid-img.png) no-repeat;
  background-size: cover; }

@media screen and (max-device-width: 768px) {
  .mobile-bg {
    background: url(/media/bg-mobile-1.jpg) no-repeat;
    height: 100vh;
    background-position: center top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover; }

  video#bgvid {
    display: none; } }
.hero {
  padding-top: 60vh;
  text-align: center; }
  .hero h1, .hero h3 {
    color: #fff; }
  .hero .logo-hero {
    width: 100px;
    height: 100px; }

.logo-nav {
  width: 80px;
  height: 80px; }

#about.section-container {
  border-top: 3px solid #fff;
  background: url(/media/broken-noise.png) repeat;
  background-color: #000;
  background-position: center center; }

#info.section-container {
  background: url(/media/bg-mobile-2.jpg) repeat;
  background-position: center bottom;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-color: #000;
  border-top: 3px solid #d9edf7; }

#gallery.section-container {
  margin-bottom: -80px;
  padding-bottom: 140px;
  z-index: 1;
  border-top: 3px solid #fff;
  border-bottom: 3px solid #fff;
  background: url(/media/broken-noise.png) repeat;
  background-color: #000; }

#contact.section-container {
  background: url(/media/broken-noise.png) repeat;
  background-color: #666666;
  border-bottom: 3px solid #000;
  border-top: 3px solid #fff;
  z-index: 2; }

.social-container {
  padding-top: 25px; }
  .social-container ul {
    padding-left: 0; }
  .social-container li {
    display: inline-block;
    list-style: none;
    padding: 0 3px; }
  .social-container a, .social-container p {
    color: #fff; }

.logo {
  width: 80px;
  height: 80px; }

#map {
  width: 100%;
  height: 300px; }

@media (max-width: 768px) {
  #map {
    height: 250px;
    margin-top: 0; } }
footer {
  border-top: 3px solid #fff;
  background: url(/media/broken-noise.png) repeat;
  background-color: #000; }

footer.footer-container {
  padding: 25px 0;
  text-align: center; }

* {
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent;
  /* For some Androids */ }

.top-animate {
  background: #64110A !important;
  top: 13px !important;
  -webkit-transform: rotate(45deg);
  /* Chrome, Safari, Opera */
  transform: rotate(45deg); }

.mid-animate {
  opacity: 0; }

.bottom-animate {
  background: #64110A !important;
  top: 13px !important;
  -webkit-transform: rotate(-225deg);
  /* Chrome, Safari, Opera */
  transform: rotate(-225deg); }

.top-menu {
  top: 5px;
  width: 25px;
  height: 3px;
  border-radius: 0;
  background-color: #fff; }

.mid-menu {
  top: 13px;
  width: 25px;
  height: 3px;
  border-radius: 0;
  background-color: #fff; }

.bottom-menu {
  top: 21px;
  width: 25px;
  height: 3px;
  border-radius: 0;
  background-color: #fff; }

@media (min-width: 768px) {
  .top-menu {
    top: 8px;
    width: 40px;
    height: 5px; }

  .mid-menu {
    top: 20px;
    width: 40px;
    height: 5px; }

  .bottom-menu {
    top: 32px;
    width: 40px;
    height: 5px; } }
.menui {
  background: #fff;
  transition: 0.5s ease;
  transition-timing-function: cubic-bezier(0.75, 0, 0.29, 1.01);
  margin-top: 10px;
  position: absolute; }

.ham-icon {
  z-index: 999;
  position: fixed;
  display: block;
  padding: 25px;
  height: 32px;
  width: 32px;
  margin: 0px;
  top: 10px;
  right: 25px; }

@media (min-width: 768px) {
  .ham-icon {
    top: 15px;
    right: 45px;
    height: 55px;
    width: 55px; } }
@media (min-width: 769px) {
  .ham-icon {
    display: none; } }
.mobilenav {
  font-family: inherit;
  top: 0;
  left: 0;
  z-index: 999;
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.9);
  opacity: 1; }

.mobilenav li {
  list-style-type: none;
  text-align: center;
  padding: 10px; }

.mobilenav li a {
  font-size: 150%;
  color: #64110A;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  width: 100%;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s; }
  .mobilenav li a:hover, .mobilenav li a:active {
    color: #000; }

.mobilenav li:first-child {
  margin-top: 15px; }

@media (min-width: 768px) {
  .mobilenav li a {
    font-size: 33px; }

  .mobilenav li {
    padding: 13px; }
    .mobilenav li:first-of-type {
      margin-top: 150px;
      margin-bottom: 20px; } }

/*# sourceMappingURL=main.css.map */
